h3 {
    text-align: center;
}

.cart-list-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: scroll;

}

.empty-cart-container {
    height: 43vh;
    display: flex;
    justify-content: center;
    align-items: center;
}