.cart-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    width: 90%;
}

.cart-item-card-1 {
    display: flex;
    flex-direction: column;
}

.inner-cart-item-card-1 {
    display: flex;
    align-items: center;
    
}

.cross {
    background-color: transparent;
    border: none;
    margin-left: 50px;
}

.para-l-c-i {
    margin-right: 30px;
    font-weight: 400;
}

.para-l-c-i-2 {
    font-weight: 400;
}

.span-cart {
    font-weight: 600;
}